


.input-nome {
  grid-column: span 6;
  height: 40px;
  background-color: #334155;
  color: #cbd5e1;
  border: 1px solid #475569;
  border-radius: 8px;
  padding: 0 10px;
  outline: none;
  transition: border 0.3s;
  font-size: 14px;
}

.input-nome::placeholder {
  color: #cbd5e1;
  opacity: 0.5;
}

.input-nome:focus {
  border-color: #cbd5e1;
}


.feedback-box {
    
  background-color: #1e293b;
  border: 1px solid #334155;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  border-radius: 12px;
  padding: 16px;
  color: #94a3b8;
  width: 100%;
  max-width: 600px;
}

.title {
  grid-column: span 6;
  text-align: center;
  color: #475569;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.feedback-textarea {
  grid-column: span 6;
  height: 110px;
  background-color: #334155;
  color: #cbd5e1;
  border: 1px solid #475569;
  border-radius: 8px;
  padding: 10px;
  resize: none;
  outline: none;
  transition: border 0.3s;
}

.feedback-textarea::placeholder {
  color: #cbd5e1;
  opacity: 0.5;
}

.feedback-textarea:focus {
  border-color: #cbd5e1;
}

.icon-button {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #334155;
  border: 1px solid #475569;
  border-radius: 8px;
  padding: 8px;
  transition: all 0.3s;
  fill: #cbd5e1;
  cursor: pointer;
}

.icon-button:hover {
  border-color: #cbd5e1;
}

.icon-button:focus {
  fill: #bfdbfe;
  background-color: #2563eb;
}

.send-button {
 margin-left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #334155;
  border: 1px solid #475569;
  border-radius: 8px;
  padding: 8px;
  stroke: #cbd5e1;
  transition: all 0.3s;
  cursor: pointer;

  
}

.send-button:hover {
  border-color: #cbd5e1;
}

.send-button:focus {
  stroke: #bfdbfe;
  background-color: #2563eb;
}
