@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('../project/Projeto_Noticias/card.css');

* {
    color: white;
    user-select: none;

}


body {
    font-family: "Roboto", sans-serif;
    background-color: #020817;
    color: #334155;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



/* Header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 2rem;

}

.logo {
    width: 120px;
    height: 120px;
    margin-bottom: 1rem;
}

.logo img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo-ola {
    font-size: 35px;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    width: 0ch;
    animation: digitar 2s steps(30) forwards;

}

.container-projetos {

    width: 100%;
    padding: 2rem;
    background-color: #111827;
    text-align: center;
    margin-top: 4rem;
    overflow: auto;

}

.titulo-projeto {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.projetos {
    background-color: #111827;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    justify-content: center;
}

@keyframes digitar {
    from {
        width: 0ch;

    }

    to {
        width: 20ch;
        /* ajuste conforme o texto */

    }
}



/* Container */
.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

}

.Container h1 {
    font-size: 2.5rem;
}

.ver {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
    flex-wrap: wrap;


}

.btn-chat {
    position: fixed;
    top: 80%;
    width: 40px;
    left: 93%;
    background-color: #6d65653b;
    border-radius: 20px;

}

.btn-chat:hover {
    cursor: pointer;
    background-color: #4a65a8;
}

.ver a {
    color: #c0cccf;
    font-weight: 500;
    transition: 0.3s;

}

.ver a:hover {
    color: #616d7e;
}

/* SOBRE */
.Sobre {
    background-color: #020817;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 3rem;
    align-items: center;
    text-align: justify;
    font-family: "Roboto", sans-serif;
}

.titulo-sobre {

    font-size: 2rem;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;

}

.Sobre .descricao {
    text-align: justify;
    font-size: 1rem;
    font-weight: 400;
    color: #d1c7c7;
    line-height: 1.6;
    margin: 0;
    padding: 1rem;

}

/* PROJETOS */

html {
    scroll-behavior: smooth;
}










/* HABILIDADES */
.secao-habilidades {
    width: 100%;
    padding: 3rem 1rem;
    margin-top: 4rem;
    background-color: #020817;
}

.titulo-habilidade {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.containers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-content: center;
}


.container-habilidades {
    padding: 1rem;
    border: 1px solid #a78bfa;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidade {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

}

/* Mobile */
.mobile {
    border-top: 1px solid #a78bfa;
    padding-top: 0.5rem;
    margin-top: 1rem;
    text-align: center;
}

/* CONTATO */
.secao-contato {
    padding: 3rem 1rem;
    background-color: #020817;
    margin-top: 4rem;
    text-align: center;
    width: 100%;
}

.fa-brands {
    font-size: 50px;

}

/* FOOTER */
.secao-footer {
    width: 100%;
    background-color: #111827;
    color: white;
    padding: 2rem;
    text-align: center;
}

h2 {
    color: white;
    font-family: "Roboto", sans-serif;
}



#btnsubir {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    border-radius: 50px;
    background-color: #5c5a64;
    height: 50px;
    border: 1px solid red;
    z-index: 3;
}

.img-subir {
    animation: piscar-seta 1s infinite;
    width: 50px;
    height: 50px;

}

.btnChat {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 50px;
    border-radius: 50px;
    background-color: #5c5a64;
    height: 50px;
    border: 1px solid red;
    z-index: 3;
}

a {
    font-family: "Roboto", sans-serif;
}

@keyframes piscar-seta {
    0% {
        transform: translateY(0);

        opacity: 1;

        height: 50px;
    }

    50% {
        transform: translateY(-5px);

        opacity: 0.5;

        height: 50px;
    }

    100% {
        transform: translateY(0);
        opacity: 1;

        height: 50px;
    }
}

.confirmacao {
    display: none;
    position: fixed;
    top: 73%;
    left: 80%;
}





@media (max-width: 480px) {

    .projetos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 100%;
        gap: 1rem;
    }

    .content {}
}


@media (min-width: 481px) and (max-width: 768px) {

    .projetos {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        width: 100%;
        gap: 1rem;
    }


}


@media (min-width: 769px) and (max-width: 1024px) {

    .projetos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 1rem;
    }

    .containers {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 1025px) and (max-width: 1366px) {

    .projetos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        gap: 1rem;
    }

    .containers {
        grid-template-columns: repeat(3, 1fr);
    }



}

/* Telas maiores (HD e acima) */
@media (min-width: 1367px) {

    /* Estilo para desktops grandes */
    .projetos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }

    .containers {
        grid-template-columns: repeat(4, 1fr);
    }
}